<html>
    <head>
        <title>Payroll System</title>
        <style>
            html {
                height: 100%;
            }
            body {
                width:100%;
                background: gray;
            }
            table, th, td, tr {
            border: 1px solid white;
            background:#343a40; 
            color: white;
            border-collapse: collapse;
            padding: 15px;
            font-family: Arial, Helvetica, sans-serif;  
            }
        </style>
    </head>

    <body>
        
        {% block content %}
        {% endblock %}
    </body>
</html>
