{% extends 'payroll/base.html' %}

{% block content %}
{% include 'payroll/nav.html' %}
    <style>
        .box {
            background:#343a40;
            padding:10px;
            border-radius:10px;
            text-align:center;
            margin:20px auto;
            width:400px;
            height:80px;
            }
        .text {
            color: white;
            
            margin-top: 30px;
        }
    </style>
    <body>
        <div>
            <table  style="width:60%;margin:25px auto">
                <tr>
                    <th colspan="3">List of Jobs</th>
                </tr>
                <tr>
                    <th style="width: 20%;">Job ID</th>
                    <th style="width: 60%;">Job Description</th>
                    <th style="width: 40%;">Salary</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td><center>{{i.jobID}}</center></td>
                    <td><center>{{i.jobDesc}}</center></td>
                    <td><center>Php {{i.salary|floatformat:2}}</center></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
{% endblock %}