{% extends 'payroll/base.html' %}

{% block content %}
{% include 'payroll/nav.html' %}
    <style>
        .box {
            background:#343a40;
            padding:10px;
            border-radius:10px;
            text-align:center;
            margin:20px auto;
            width:400px;
            height:80px;
            }
        .text {
            color: white;
            
            margin-top: 30px;
        }
    </style>
    <body>
        <div>
            <table  style="width:90%;margin:25px auto">
                <tr>
                    <th style="width: 20%;">Name</th>
                    <th style="width: 20%;">Job</th>
                    <th style="width: 15%;">Salary</th>
                    <th style="width: 15%;">Total Deductions</th>
                    <th style="width: 15%;">Payroll</th>
                </tr>
                <tr style="text-align: center;">
                    {% for i in data %}
                    <td>{{i.getName}}</td>
                    <td>{{i.jobDesc}}</td>
                    <td>Php {{i.getSalary | floatformat:2}}</td>
                    <td>Php {{totalDeduction|floatformat:2}}</td>
                    <td>Php {{i.getPayroll|floatformat:2}}</td>
                    {% endfor %}
                </tr>

            </table>
        </div>
    </body>
{% endblock %}